/* Console */
.console-text-area {
    -fx-background-color: black;
    -fx-text-fill: yellowgreen;
    -fx-font-weight: bold;
}

.console-text-area .content {
    -fx-background-color: black;
}

/* Execute Button */
.execute-button {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.execute-button:pressed {
    -fx-padding: 14 30 10 30;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/* Clear Button */
.clear-button {
    -fx-background-color:
            #000000,
            linear-gradient(lightcoral, indianred),
            linear-gradient(indianred, darkred),
            linear-gradient(indianred, darkred);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.clear-button:pressed {
    -fx-padding: 14 30 10 30;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}